*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset .grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E0F8;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after{
    clear: both;
}

.botao{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-top: 5px;
    margin-bottom: 1em;
    margin-left: calc(25% - 1.2em);
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

#check{
    display: inline-block;
}